.home {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @include column {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 2rem 1rem;
    }
}