header {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    @include mobile {
        flex-direction: column;
        padding: 0 1rem;
        align-items: center;
    }
}

.logo {
    font-size: 2.4rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}