@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

img {
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; }

.folder {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .folder:hover {
    text-decoration: underline; }
  .folder__img {
    width: 4rem; }
    .folder__img--2 {
      width: 2rem;
      margin: 0 1rem; }

.projects, .links {
  margin-left: 2rem;
  margin-top: 1rem; }

.project {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: .5rem;
  cursor: pointer; }
  .project:hover {
    text-decoration: underline; }
  .project__img {
    width: 2rem; }

.link {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: .5rem;
  cursor: pointer; }
  .link:hover {
    text-decoration: underline; }
  .link__img {
    width: 2rem; }

.about {
  width: 28rem; }
  .about__title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem; }
  .about__text {
    font-size: 1.3rem; }

.projectDisplay {
  gap: 1.5rem; }
  .projectDisplay, .projectDisplay-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .projectDisplay__gif {
    width: 40rem; }
    @media (max-width: 650px) {
      .projectDisplay__gif {
        width: 28rem; } }
  .projectDisplay__link {
    display: flex;
    align-items: center;
    gap: .5rem; }

.icon {
  font-size: 2rem; }
  .icon--github {
    transition: transform .2s ease-in; }
    .icon--github:hover {
      transform: scale(1.1) rotate(50deg); }
  .icon--arrow {
    font-size: 1.3rem; }

header {
  display: flex;
  gap: 1.5rem;
  justify-content: center; }
  @media (max-width: 650px) {
    header {
      flex-direction: column;
      padding: 0 1rem;
      align-items: center; } }

.logo {
  font-size: 2.4rem; }

.navbar {
  display: flex;
  flex-direction: column;
  gap: .5rem; }

.home {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; }
  @media (max-width: 1000px) {
    .home {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 2rem 1rem; } }
